---
const links = [
  {
    name: "Projects",
    href: "/projects",
  },
  {
    name: "Blog",
    href: "/blog",
  },
  {
    name: "Resume",
    href: "#",
  },
  
]
---


<header class="w-full z-50 bg-white py-5 border-b px-8 sticky top-0">
  <div class="flex justify-between max-w-7xl mx-auto">          
    <a href="/" class="tracking-tight py-2 uppercase font-medium text-xs lg:text-sm">Gabriel</a>
    <nav class="text-xs uppercase lg:capitalize font-medium tracking-tight lg:font-normal lg:text-sm space-x-7 flex items-center">
      {
        links.map((link) => (
          <a class="hover:underline py-2" href={link.href}>{link.name}</a>
        ))
      }
    </nav>
  </div>
</header>